<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel app</title>
</head>

<body onload="Client.mainApp()">
    <div class="container">
        <div class="header">
            <div class="textHeader">
                <h1>Discover Your Next Destination</h1>
            </div>
        </div>
        <div class="inputForm">
            <form>
                <label for="label">Enter your destination:</label>
                <input type="text" id="destination" name="destination" placeholder="e.g. Prague...">
                <input type="date" name="date" id="date1" value="2021-03-17">
                <button id="generate" type="submit"> Search </button>
            </form>
        </div>
        <div class="mainContent">
            <div class="mainCard">

                <div class="mainCardPhoto"><img id="landscape" src="" alt="landscape"></div>
                <div class="flexPosition">
                    <div class="mainCardText">
                        <div class="destinationName"></div>
                        <div class="destinationCountry"></div>
                        <div class="daysBefore"></div>
                    </div>
                    <div class="mainCardTemp"></div>
                    <div class="mainCardIcon"></div>
                    <div class="mainCardSave" id="saveAndRenderNewCard" onclick="return Client.postData2server(event)"></div>
                </div>

            </div>
            <div class="allCards">
                <div class="card card1">
                    <div class="cardPhoto"></div>
                    <div class="cardText"></div>
                    <div class="cardTemp"></div>
                    <div class="cardRemove"></div>

                </div>
                <div class="card card2">
                    <div class="cardPhoto"></div>
                    <div class="cardText"></div>
                    <div class="cardTemp"></div>
                    <div class="cardRemove"></div>

                </div>
                <div class="card card3">
                    <div class="cardPhoto"></div>
                    <div class="cardText"></div>
                    <div class="cardTemp"></div>
                    <div class="cardRemove"></div>

                </div>
            </div>
            <div>
                <a href="https://pixabay.com/">
                    <!--<img src="https://pixabay.com/static/img/public/medium_rectangle_a.png" alt="Pixabay">-->
                </a>
            </div>
        </div>
        <div class="footer">
            <div class="footerText">
                Travel App&#169;</div>
        </div>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>