body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(240, 210, 240);
}

main {
    flex: 2;
}

section {
    max-width: 400px;
    margin: 50px auto;
}